@font-face {
  font-family: "iconfont";

  src: url('../fonts/iconfont.eot?t=1482918154466');
  /* IE9*/
  src: url('../fonts/iconfont.eot?t=1482918154466#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?t=1482918154466') format('woff'), /* chrome, firefox */ url('../fonts/iconfont.ttf?t=1482918154466') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg?t=1482918154466#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-share1:before {
  content: "\e64e";
}
.icon-icon:before {
  content: "\e601";
}
.icon-clock:before {
  content: "\e600";
}
.icon-tuichu:before {
  content: "\e602";
}
.icon-user:before {
  content: "\e618";
}
.icon-shezhi:before {
  content: "\e680";
}
.icon-touxiang:before {
  content: "\e614";
}
.icon-suo:before {
  content: "\e616";
}
.icon-MUTmeijieban:before {
  content: "\e635";
}
.icon-iKolTracker:before {
  content: "\e636";
}
.icon-mVideoTracker:before {
  content: "\e637";
}
.icon-iResearchData:before {
  content: "\e638";
}
.navbar {
  position: relative;
  -webkit-transition: all .3s linear;
       -o-transition: all .3s linear;
          transition: all .3s linear;
}
.navbar.navbar-inverse:hover {
  background: #57a524;
}
.navbar .container-fluid {
  padding: 0 40px;
}
.navbar .navbar-right li {
  padding: 15px 0;
}
.navbar .navbar-right li a {
  position: relative;
}
.navbar .navbar-right li a i {
  font-size: 16px;
}
.navbar .navbar-right li a span {
  position: absolute;
  top: 35%;
  right: 6px;
  width: 14px;
  height: 14px;
  padding: 0;
  line-height: 14px;
  text-align: center;
  background: #ff8400;
  border-radius: 50%;
}
.navbar .nav_con {
  position: relative;
  float: left;
  margin-left: 60px;
}
.navbar .nav_con .line {
  position: absolute;
  top: 67px;
  left: 0;
  z-index: 9999;
  height: 3px;
  cursor: pointer;
  background: #fff;
}
.navbar .nav_con .navbar-nav li a {
  padding: 14.5px 30px;
}
.navbar .nav_con .navbar-nav li a span,
.navbar .nav_con .navbar-nav li a i {
  display: block;
  text-align: center;
}
.navbar .nav_con .navbar-nav li a span {
  font-size: 16px;
  line-height: 24px;
}
.navbar .nav_con .navbar-nav li a i {
  margin-top: 7px;
  font-size: 10px;
  font-style: normal;
  line-height: 10px;
  color: rgba(255, 255, 255, .8);
}
.navbar .nav-bg {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 400px;
  padding: 30px 0;
  background: rgba(48, 57, 68, .95);
}
.navbar .nav-bg .dropdown-list {
  position: relative;
}
.navbar .nav-bg .dropdown-list > li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
}
.navbar .nav-bg ul {
  padding: 0;
  margin: 0;
}
.navbar .nav-bg ul li {
  list-style-type: none;
}
.navbar .nav-bg .tab-menu {
  border-right: 1px solid rgba(255, 255, 255, .3);
}
.navbar .nav-bg .tab-menu > li {
  list-style-type: none;
}
.navbar .nav-bg .tab-menu > li.active a {
  background: #69c72b;
}
.navbar .nav-bg .tab-menu > li a {
  display: block;
  padding: 11px 15px;
  color: #fff;
  cursor: default;
}
.navbar .nav-bg .tab-menu > li a i {
  position: relative;
  top: 2px;
  margin: 0 0 0 10px;
  font-size: 20px;
}
.navbar .nav-bg .tab-content ul {
  position: relative;
  padding: 0;
}
.navbar .nav-bg .tab-content ul > li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  list-style-type: none;
}
.navbar .nav-bg .tab-content ul > li:first-child {
  display: block;
}
.navbar .nav-bg .tab-content ul > li a {
  display: block;
  padding: 15px 20px 12px 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, .2);
}
.navbar .nav-bg .tab-content ul > li a:hover {
  background: rgba(255, 255, 255, .1);
}
.navbar .nav-bg .tab-content ul > li a h4 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.navbar .nav-bg .tab-content ul > li a h4 span {
  padding: 0 4px;
  margin-left: 10px;
  font-size: 12px;
  color: #ff8400;
  border: 1px solid #ff8400;
}
.navbar .nav-bg .tab-content ul > li a p {
  margin: 3px 0 0 0;
  font-size: 12px;
  color: rgba(255, 255, 255, .5);
}
.container .index-ad {
  margin-top: 30px;
}
.container .index-ad img {
  width: 100%;
}
.container .focus-main {
  margin: 30px 0 0 0;
}
.container .focus-main .focus-main-right {
  float: right;
  width: 220px;
  margin-left: 15px;
  background: #fff;
}
.container .focus-main .focus-main-right ul {
  padding: 0;
  margin: 0;
}
.container .focus-main .focus-main-right ul li {
  position: relative;
  display: block;
  text-align: center;
  list-style-type: none;
}
.container .focus-main .focus-main-right ul li:nth-of-type(1) a {
  background: url("../../public/img/iResearchDataGray.png") no-repeat center;
}
.container .focus-main .focus-main-right ul li:nth-of-type(1).active a {
  background: url("../../public/img/iResearchDataClick.png") no-repeat center;
}
.container .focus-main .focus-main-right ul li:nth-of-type(2) a {
  background: url("../../public/img/iKolTrackerGray.png") no-repeat center;
}
.container .focus-main .focus-main-right ul li:nth-of-type(2).active a {
  background: url("../../public/img/iKolTrackerClick.png") no-repeat center;
}
.container .focus-main .focus-main-right ul li:nth-of-type(3) a {
  background: url("../../public/img/mVideoTrackerGray.png") no-repeat center;
}
.container .focus-main .focus-main-right ul li:nth-of-type(3).active a {
  background: url("../../public/img/mVideoTrackerClick.png") no-repeat center;
}
.container .focus-main .focus-main-right ul li:nth-of-type(4) a {
  background: url("../../public/img/mutGray.png") no-repeat center;
}
.container .focus-main .focus-main-right ul li:nth-of-type(4).active a {
  background: url("../../public/img/mutClick.png") no-repeat center;
}
.container .focus-main .focus-main-right ul li:last-child a {
  border-bottom: none;
}
.container .focus-main .focus-main-right ul li.active {
  background: #69c72b;
}
.container .focus-main .focus-main-right ul li.active:before {
  position: absolute;
  top: 50%;
  right: 100%;
  width: 0;
  height: 0;
  margin-top: -12px;
  content: "";
  border-color: transparent #69c72b transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
.container .focus-main .focus-main-right ul li.active a {
  color: #fff;
  border-bottom: none;
}
.container .focus-main .focus-main-right ul li.active a i {
  font-size: 42px;
  line-height: 42px;
}
.container .focus-main .focus-main-right ul li a {
  display: block;
  height: 150px;
  color: #8c9bb1;
  border-bottom: 1px dashed #e8edf1;
}
.container .focus-main .focus-main-right ul li a i {
  display: inline-block;
  height: 42px;
  font-size: 42px;
  line-height: 42px;
}
.container .focus-main .focus-main-right ul li a p {
  margin: 0;
}
.container .focus-main .focus-main-left {
  padding: 20px 40px;
  overflow: hidden;
  background: #fff;
}
.container .focus-main .focus-main-left ul {
  position: relative;
  padding: 0;
  margin: 0;
}
.container .focus-main .focus-main-left ul li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style-type: none;
}
.container .focus-main .focus-main-left ul li:first-child {
  display: block;
}
.container .focus-main .focus-main-left ul li h1,
.container .focus-main .focus-main-left ul li p {
  text-align: center;
}
.container .focus-main .focus-main-left ul li h1 {
  margin: 0 0 15px 0;
  font-size: 45px;
}
.container .focus-main .focus-main-left ul li h1 span {
  font-size: 24px;
  color: #2d4051;
}
.container .focus-main .focus-main-left ul li p {
  margin-bottom: 30px;
  font-size: 14px;
  color: #4e617f;
}
.container .focus-main .focus-main-left ul li p.notes {
  margin: 15px 0;
  line-height: 20px;
  color: #b8beca;
}
.container .focus-main .focus-main-left ul li p.text-center .btn {
  color: #ff8400;
  border-color: #ff8400;
}
.container .focus-main .focus-main-left ul li p.text-center .btn:hover {
  background: #ff8400;
}
footer {
  padding: 50px 0 20px 0;
  margin-top: 30px;
  font-size: 14px;
  color: rgba(255, 255, 255, .8);
  background: #404b57;
}
footer .col-sm-3 {
  padding: 0 40px;
}
footer .col-sm-3 a {
  color: rgba(255, 255, 255, .8);
}
@media (max-width: 768px) {
  footer .col-sm-3 {
    padding: 0 15px;
  }
}
footer .col-sm-3 h3 {
  padding-bottom: 15px;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #69c72b;
  border-bottom: 1px solid #69c72b;
}
footer .copyright {
  text-align: center;
}
footer .copyright span {
  margin-right: 15px;
}
footer .copyright i {
  color: #69c72b;
}
footer .copyright h5 {
  margin: 10px 0 20px 0;
}
footer .copyright h5 span {
  position: relative;
  color: #69c72b;
}
footer .copyright h5 span:after,
footer .copyright h5 span:before {
  position: absolute;
  top: 10px;
  width: 100px;
  height: 1px;
  content: "";
  background: #69c72b;
}
footer .copyright h5 span:after {
  right: 110%;
}
footer .copyright h5 span:before {
  left: 110%;
}
footer .copyright .weibo {
  margin: 15px 0;
  font-size: 0;
}
footer .copyright .weibo a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: #fff;
  border-radius: 50%;
}
footer .copyright .weibo a:first-child {
  background: #55c847;
}
footer .copyright .weibo a:last-child {
  background: #d2423c;
}
footer .copyright .weibo a i {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
footer .copyright .cpr {
  margin-top: 10px;
  font-size: 12px;
  color: #9499a6;
}
.login {
  background: #f4f6f8;
}
.login .login-wrap {
  width: 800px;
  margin: 70px auto;
}
.login .login-wrap .login-header {
  margin-bottom: 70px;
}
.login .login-wrap .login-header img {
  width: 180px;
}
.login .login-wrap .row .col-xs-5 h4,
.login .login-wrap .row .col-xs-7 h4 {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
}
.login .login-wrap .row .col-xs-5 {
  text-align: center;
  border-right: 1px solid #e7ebee;
}
.login .login-wrap .row .col-xs-5 img {
  width: 170px;
  padding: 10px;
  background: #fff;
  border: 1px solid #e3e8ee;
}
.login .login-wrap .row .col-xs-5 p {
  margin-top: 20px;
  font-size: 12px;
  color: #748194;
}
.login .login-wrap .row .col-xs-7 {
  padding-left: 70px;
}
.login .login-wrap .row .col-xs-7 form p {
  margin: 0 0 15px 0;
}
.login .login-wrap .row .col-xs-7 form p img {
  width: 40px;
  margin-right: 5px;
  border-radius: 50%;
}
.login .login-wrap .row .col-xs-7 form > .btn {
  padding: 9px 0;
  margin-top: 25px;
}
.login .login-wrap .row .col-xs-7 form .alert {
  display: none;
  padding: 7px 15px;
  margin-bottom: 15px;
}
.login .login-wrap .row .col-xs-7 form .form-group {
  position: relative;
  padding: 5px 10px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e3e8ee;
}
.login .login-wrap .row .col-xs-7 form .form-group span {
  display: block;
  float: left;
  width: 100px;
  line-height: 30px;
  color: #999;
}
.login .login-wrap .row .col-xs-7 form .form-group .form-right {
  overflow: hidden;
}
.login .login-wrap .row .col-xs-7 form .form-group .form-right .code-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
}
.login .login-wrap .row .col-xs-7 form .form-group .form-right .code-img img {
  width: 100%;
}
.login .login-wrap .row .col-xs-7 form .form-group .form-right .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  padding: 10px 0;
}
.login .login-wrap .row .col-xs-7 form .form-group .form-right .btn.btn-default {
  background: #e3e8ee;
  border: none;
}
.login .login-wrap .row .col-xs-7 form .form-group .form-right input {
  display: inline-block;
  width: 100%;
  margin: 3px 0 0 0;
  line-height: 24px;
  border: none;
  outline: none;
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.trial-text {
  position: relative;
  display: inline-block;
  padding: 15px 0 0 20px;
  margin-left: 20px;
  font-weight: normal;
  color: #fff;
}
.trial-text:after,
.trial-text:before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 1px;
  height: 30px;
  content: "";
}
.trial-text:after {
  left: -1px;
  background: #60b428;
}
.trial-text:before {
  background: #76dc32;
}
.trial_wrap {
  width: 600px;
  margin: 50px auto;
}
.trial_wrap .panel {
  margin-top: 20px;
  margin-bottom: 10px;
}
.trial_wrap .panel .panel-body {
  padding: 10px 30px;
}
.trial_wrap .panel .panel-body .checkbox {
  margin: 10px 0;
}
.trial_wrap button {
  margin-top: 30px;
}
.trial_wrap h4 {
  margin-bottom: 40px;
  font-size: 24px;
  color: #69c72b;
  text-align: center;
}
.trial_wrap .input-group {
  position: relative;
  margin-top: 20px;
}
.trial_wrap .input-group input {
  height: 42px;
  padding: 6px 50px 6px 15px;
}
.trial_wrap .input-group .tip {
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 10;
  color: #ff8400;
}
.trial_wrap .input-group p {
  position: absolute;
  left: 100%;
  display: inherit;
  margin-left: 10px;
  line-height: 40px;
}
.user-center {
  margin-bottom: 30px;
}
.user-center .user-left {
  float: left;
  width: 240px;
  margin-right: 20px;
  background: #fff;
  border: 1px solid #e5e5e5;
}
.user-center .user-left .user-header {
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.user-center .user-left .user-header img {
  width: 130px;
  margin-bottom: 5px;
  border-radius: 50%;
}
.user-center .user-left .user-header h4 {
  margin: 10px 0 15px 0;
  color: #999;
}
.user-center .user-left .user-header .user-time {
  height: 26px;
  margin: 0 10px;
  overflow: hidden;
  border: 1px solid #69c72b;
}
.user-center .user-left .user-header .user-time i {
  display: inline-block;
  float: left;
  height: 26px;
  padding: 1px 6px;
  color: #fff;
  background: #69c72b;
}
.user-center .user-left .user-header .user-time span {
  display: inline-block;
  height: 26px;
  padding: 3px 10px;
  color: #999;
}
.user-center .user-left .user-left-menu {
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 16px;
}
.user-center .user-left .user-left-menu li a {
  color: #777;
}
.user-center .user-left .user-left-menu li a:hover {
  background: #f4f9f3;
}
.user-center .user-left .user-left-menu li.active {
  background: #f4f9f3;
  border-top: 1px solid #e5e5e5;
  border-right: 3px solid #69c72b;
  border-bottom: 1px solid #e5e5e5;
}
.user-center .user-left .user-left-menu li.active a {
  color: #69c72b;
}
.user-center .user-left .user-left-menu > li {
  list-style-type: none;
}
.user-center .user-left .user-left-menu > li.open a span {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}
.user-center .user-left .user-left-menu > li > a {
  display: block;
  padding: 10px 20px;
}
.user-center .user-left .user-left-menu > li > a > i {
  margin-right: 10px;
}
.user-center .user-left .user-left-menu > li > a > span {
  float: right;
  font-size: 20px;
  -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.user-center .user-left .user-left-menu > li > ul {
  padding: 0;
  margin: 0;
}
.user-center .user-left .user-left-menu > li > ul > li {
  list-style-type: none;
}
.user-center .user-left .user-left-menu > li > ul > li > a {
  display: block;
  padding: 10px 45px;
  font-size: 14px;
}
.user-center .user-right {
  overflow: hidden;
  background: #fff;
}
.user-center .user-right > h5 {
  padding: 10px 30px;
}
.user-center .user-right .form-horizontal {
  padding: 20px 30px;
}
.user-center .user-right .form-horizontal .form-group .control-label {
  text-align: left;
}
.user-center .user-right .form-horizontal .form-group .radio {
  margin-top: 6px;
}
.user-center .user-right .tree-header {
  padding: 10px 15px;
  color: #fff;
  background: #69c72b;
}
.user-center .user-right .tree-menu {
  padding: 20px;
}
.user-center .user-right .tree-menu .treeview {
  float: left;
  width: 50%;
  max-height: 300px;
  overflow-y: scroll;
}
.user-center .user-right .tree-menu .tree-result {
  float: left;
  width: 50%;
  padding: 50px 30px 0 50px;
}
.user-center .user-right .tree-menu .tree-result .col-xs-6 {
  border-right: 1px solid #eee;
}
.user-center .user-right .tree-menu .tree-result .col-xs-6 p {
  margin-top: 15px;
  text-align: center;
}
.user-center .user-right .tree-menu .tree-result .col-xs-6 h4 {
  text-align: center;
}
.user-center .user-right .log-search {
  padding: 10px;
}
.user-center .user-right .log-search .input-group {
  border-bottom: 1px solid #eee;
}
.user-center .user-right .log-search .input-group input {
  padding: 5px 0 0 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.user-center .user-right .log-search .input-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.user-center .user-right .log-search .input-group span a {
  font-size: 18px;
  color: #bdc2c7;
}
.user-center .user-right .log-search .input-group span a:hover {
  color: #69c72b;
}
.user-center .user-right .log-search .input-group span a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.user-center .permiss-table {
  padding: 20px;
}
.user-center .permiss-table .toolbar {
  float: left;
}
.user-center .manage tbody tr td img {
  height: 40px;
}
.user-center .manage tbody tr td a {
  padding: 0 5px;
  font-size: 16px;
  color: #97a3b1;
}
.user-center .manage tbody tr td a .fa-lock {
  color: #ff8400;
}
.user-center .tab-user {
  float: left;
}
.user-center .tab-user li {
  float: left;
}
.user-center .tab-user li.active a {
  color: #69c72b;
  border-bottom: 3px solid #69c72b;
}
.user-center .tab-user li a {
  padding: 15px 20px;
  color: #333;
  border-bottom: 3px solid transparent;
}
.user-center .tab-user li a:hover,
.user-center .tab-user li a:focus {
  background: #fff;
}
.user-center .user-search {
  float: right;
  width: 300px;
  margin-top: 5px;
}
.user-center .user-search .input-group {
  border-bottom: 1px solid #eee;
}
.user-center .user-search .input-group input {
  padding: 5px 0 0 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.user-center .user-search .input-group input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.user-center .user-search .input-group span a {
  font-size: 18px;
  color: #bdc2c7;
}
.user-center .user-search .input-group span a:hover {
  color: #69c72b;
}
.user-center .user-search .input-group span a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.user-center .user-add {
  float: right;
  margin-left: 20px;
}
.user-center .user-add .btn {
  padding: 16px 20px;
  border: none;
  border-radius: 0;
}
.set-list .input-group {
  margin: 10px 0 20px 0;
}
.set-list .set-list-header {
  padding: 8px 0;
  margin: 0 0 10px 0;
  color: #fff;
  text-align: center;
  background: #97a3b1;
}
.set-list .set-list-header div:first-child {
  text-align: left;
}
.set-list .radio-scroll {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.set-list .radio-scroll .list-radio:hover {
  background: #f5f5f5;
}
.set-list .radio-scroll .list-radio ul {
  padding: 0;
  margin: 0;
}
.set-list .radio-scroll .list-radio ul li {
  margin: 5px 0;
  line-height: 28px;
  text-align: center;
  list-style-type: none;
}
.set-list .radio-scroll .list-radio ul li:first-child {
  text-align: left;
}
.set-list .radio-scroll .list-radio ul li .radio {
  display: inline-block;
  margin: 5px 0 0 0;
}
.set-list .radio-scroll .list-radio .list-radio-main ul li:first-child {
  padding-left: 28px;
}
.set-list .radio-scroll .list-radio .list-radio-main ul li span {
  cursor: pointer;
}
.report {
  position: relative;
  background: #eee;
}
.report .report-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #eee;
  border-right: 1px solid #e5e5e5;
  -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
.report .report-menu > h4 {
  padding: 24px 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.report .report-menu.toggle {
  left: -240px;
}
.report .report-menu > ul {
  padding: 0;
  margin: 0;
}
.report .report-menu > ul > li {
  list-style-type: none;
}
.report .report-menu > ul > li.open a i {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}
.report .report-menu > ul > li > a {
  display: block;
  padding: 10px 15px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.report .report-menu > ul > li > a > i {
  float: right;
  font-size: 22px;
  line-height: 22px;
  color: #aaa;
  -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
.report .report-menu > ul > li > ul {
  padding: 0;
  margin: 0;
  background: #f5f5f5;
}
.report .report-menu > ul > li > ul > li {
  list-style-type: none;
  border-bottom: 1px solid #e5e5e5;
}
.report .report-menu > ul > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 35px;
  color: #777;
}
.report .report-menu > ul > li > ul > li > a:hover {
  background: #eee;
}
.report .report-wrapper {
  padding: 0 30px;
  margin-left: 240px;
  overflow: hidden;
  -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
.report .report-wrapper.full {
  margin-left: 0;
}
.report .report-wrapper .iframe-content {
  margin-top: 20px;
}
.full-screen {
  position: fixed;
  top: 90px;
  left: 0;
  width: 26px;
  height: 24px;
  padding: 0 3px 0 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #69c72b;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.history .modal-header {
  padding: 10px 15px 30px 40px;
  background: #69c72b url("../../public/img/background.png") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.history .modal-header h4 {
  text-align: center;
}
.history .modal-header h4 img {
  width: 300px;
  margin: 30px 0 0 35px;
}
.history .modal-header button.close {
  color: #fff;
  opacity: .7;
}
.history .modal-header button.close:hover {
  opacity: 1;
}
.history .modal-body form {
  padding: 30px 140px;
}
.history .modal-body > p {
  margin-top: 50px;
  color: #999;
  text-align: center;
}
/*# sourceMappingURL=docs.css.map */
