body {
    font-family: PingFangSC-Light, HanHei SC, Helvetica Neue, Helvetica, STHeitiSC-Light, Arial, Microsoft YaHei, sans-serif;
}

.impowerBox .qrcode {
    width: 170px;
    margin-top: 40px;
}

.impowerBox .title {
    /*display: none;*/
    font-size: 18px;
    line-height: 18px;
    padding-top: 10px
}

.impowerBox .info {
    width: 170px;
}

.status_icon {
    /*display: none;*/
}

.impowerBox .status {
    text-align: center;
}