body{
    font-family: "Helvetica Neue","Helvetica,Arial","Microsoft Yahei","PingFang SC","sans-serif";
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}
a{
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: none;
}
/* header */
.header {
    padding: 30px 0;
}
.header .title {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin-top: 40px;
}
.header .desc {
    color: #ffffff;
    line-height: 24px;
    text-indent: 28px;
    margin-top: 30px;
    font-size: 14px;
}
.header .img {
    width: auto;
    text-align: center;
    height: 260px;
    display: block;
    margin: 0 auto;
}
.ad-box{
    margin-top: 20px;
    width: 200px;
    height:56px;
    margin-left: auto; margin-right: auto;
    background:rgba(255,255,255,0.09);
    border-radius:5px;
    border:1px solid rgba(255,255,255,0.7);
    transition: all .3s ease-in;
    display: block;
}
.ad-box:hover{
    cursor: pointer;
    background:rgba(255,255,255,0);
    border:1px solid rgba(255,255,255,0.8);
}
.ad-box img{
    height: 20px;
    width: auto;
    margin-bottom: 25px;
    padding-right: 20px;
    border-right: 1px solid #FFFFFF;
}
.ad-box .icon {
    margin-left: 20px;
}
.ad-box .span {
    display: inline-block;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 23px;
    padding-top: 5px;
    text-align: center;
    padding-left: 10px;
}
/* item */
.introduce{
    background:#ffffff ;
    padding: 50px 0;
}
.introduce.gray {
    background: #fafafa;
}
.introduce .img {
    width: auto;
    height: 160px;
}
.introduce .logo {
    width: auto;
    height: 38px;
    margin-top: 15px;
}
.introduce .title {
    margin-bottom: 20px;
    font-size: 16px;
    background: none;
}
.introduce .title:before {
    content:"|";
    float: left;
    font-size: 16px;
    font-weight: 800;
    padding-right: 6px;
}
.introduce .title.ad {
    color: #6ECC30;
}
.introduce .title.ad:before {
    color:#69C72B;
}
.introduce .title.ut {
    color: #3dc0f0;
}
.introduce .title.ut:before {
    color:#3dc0f0;
}
.introduce .title.vt {
    color: #8EC63F;
}
.introduce .title.vt:before {
    color:#8EC63F;
}
.introduce ul li{
    border: none;
    font-size: 12px;
    padding:  0;
    line-height: 20px;
    color: #999999;
    background: none;
    margin-bottom: 8px;
    margin-left: 6px;
}
.introduce ul li:first-child{
    font-size: 14px;
    color:#666666;
    margin-bottom: 5px;
    padding: 0;
    margin-left: 0;
}
.introduce .dot{
    display:inline-block;
    width:4px;
    height:4px;
    border-radius:50%;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: -6px;
}
.ad .introduce a {
    color: #69c72b;
}
.ad {
    background: #65AF45;
}
.ad .introduce .dot {
    background: #69c72b;
}
.ad .introduce .link {
    font-size: 16px;
    line-height: 38px;
    border-radius: 100px;
    padding: 0 25px;
    width: 200px;
}
.ad .introduce .link {
    color: #69c72b;
    border: 1px solid #69c72b;
    transition: all .2s linear;
}
.ad .introduce .link:hover{
    color: #FFFFFF;
    background: #69c72b;
}
.ad .introduce a {
    color: #69c72b;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    display: block;
}
.ut{
    background:#3dc0f0;
}
.ut .introduce .dot {
    background: #3dc0f0;
}
.ut .introduce .link {
    font-size: 16px;
    line-height: 38px;
    border-radius: 100px;
    padding: 0 25px;
    width: 200px;
}
.ut .introduce .link {
    color: #3dc0f0;
    border: 1px solid #3dc0f0;
    transition: all .2s linear;
}
.ut .introduce .link:hover{
    color: #FFFFFF;
    background: #3dc0f0;
}
.ut .introduce a {
    color: #3dc0f0;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    display: block;
}
.vt{
    background:#8EC63F;
}
.vt .introduce .dot {
    background: #8EC63F;
}
.vt .introduce .link {
    font-size: 16px;
    line-height: 38px;
    border-radius: 100px;
    padding: 0 25px;
    width: 200px;
}
.vt .introduce .link {
    color: #8EC63F;
    border: 1px solid #8EC63F;
    transition: all .2s linear;
}
.vt .introduce .link:hover{
    color: #FFFFFF;
    background: #8EC63F;
}
.vt .introduce a {
    color: #8EC63F;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    display: block;
}
@media (max-width: 768px) {
    .header .title{
        font-size: 18px;
        margin-top: 10px;
    }
    .header .desc {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .header .img {
        width: 100%;
        height: auto;
    }
    .header .ad-box {
        margin-top: 15px;
    }
    .introduce{
        padding: 30px 0;
    }
    .introduce img {
        display: block;
        margin: 0 auto;
    }
    .introduce .title {
        margin-top: 30px;
        text-align: center;
    }
    .introduce .title::before {
        display: none;
    }
    .introduce ul li:first-child {
        text-align: center;
    }
    .introduce .link {
        margin: 20px auto 0 auto;
        display: block;
    }
    .introduce .old-link {
        margin: 10px 0 0 0;
    }
}

