html{
    height: 100%;
}
body{
    font-family: "Helvetica Neue","Helvetica,Arial","Microsoft Yahei","PingFang SC","sans-serif";
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    display: -ms-flex;
    -ms-flex-direction: column;
    height: 100%;
}
a{
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: none;
}
/* header */
.header {
    padding: 30px 0;
}
.header .title {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin-top: 40px;
}
.header .desc {
    color: #ffffff;
    line-height: 24px;
    text-indent: 28px;
    margin-top: 30px;
    font-size: 14px;
}
.header .img {
    width: auto;
    text-align: center;
    height: 260px;
    display: block;
    margin: 0 auto;
}
.ad-box{
    margin-top: 20px;
    width: 200px;
    height:56px;
    margin-left: auto; margin-right: auto;
    background:rgba(255,255,255,0.09);
    border-radius:5px;
    border:1px solid rgba(255,255,255,0.7);
    transition: all .3s ease-in;
    display: flex;
    display: -ms-flex;
    align-items: center;
    -ms-align-items: center;
    position: relative;
    overflow: hidden;
}
.ad-box:hover{
    cursor: pointer;
    background:rgba(255,255,255,0);
    border:1px solid rgba(255,255,255,0.8);
}
.ad-box img{
    height: 20px;
    width: auto;
    vertical-align: top;
}
.ad-box .icon {
    text-align: center;
    width: 60px;
    border-right: 1px solid #FFFFFF;
}
.ad-box .span {
    flex: 1;
    -ms-flex: 1;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.ad-box .mark {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.9);
    transform: rotate(-45deg) translateX(35px);
}
.ad-box .mark i {
    display: inline-block;
    font-size: 12px;
    transform: rotate(90deg) translateX(12px) translateY(10px) scale(0.8);
    font-style: normal;
    font-weight: bold;
}
.ad .ad-box .mark i {
    color: #69C72B;
}
.ut .ad-box .mark i {
    color: #3dc0f0;
}
.vt .ad-box .mark i {
    color: #8EC63F;
}
/* item */
.introduce{
    background:#ffffff ;
    padding: 50px 0;
}
.introduce a {
    transition: all .2s linear;
}
.introduce.gray {
    background: #fafafa;
}
.introduce .img {
    width: auto;
    height: 160px;
}
.introduce .logo {
    width: auto;
    height: 38px;
    margin-top: 15px;
}
.introduce .title {
    margin-bottom: 20px;
    font-size: 16px;
    background: none;
}
.introduce .title:before {
    content:"|";
    float: left;
    font-size: 16px;
    font-weight: 800;
    padding-right: 6px;
}
.introduce .title.ad {
    color: #6ECC30;
}
.introduce .title.ad:before {
    color:#69C72B;
}
.introduce .title.ut {
    color: #3dc0f0;
}
.introduce .title.ut:before {
    color:#3dc0f0;
}
.introduce .title.vt {
    color: #8EC63F;
}
.introduce .title.vt:before {
    color:#8EC63F;
}
.introduce ul li{
    border: none;
    font-size: 12px;
    padding:  0;
    line-height: 20px;
    color: #999999;
    background: none;
    margin-bottom: 8px;
    display: flex;
    display: -ms-flexbox;
    align-items: top;
    -ms-ime-align: top;
}
.introduce ul li:first-child{
    font-size: 14px;
    color:#666666;
    margin-bottom: 5px;
    padding: 0;
    margin-left: 0;
}
.introduce .dot{
    width:4px;
    height:4px;
    border-radius:50%;
    margin-top: 7px;
    margin-right: 4px;
}
.introduce .info {
    flex: 1;
    -ms-flex: 1;
}
.introduce .link {
    font-size: 16px;
    line-height: 38px;
    border-radius: 100px;
    padding: 0 25px;
}
.introduce .link {
    transition: all .2s linear;
}
.introduce .link:hover{
    color: #FFFFFF;
}
.introduce a {
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
    display: block;
}
.ad .introduce a {
    color: #69c72b;
}
.ad .header {
    background: #65AF45;
}
.ad .introduce .dot {
    background: #69c72b;
}
.ad .introduce .link {
    color: #69c72b;
    border: 1px solid #69c72b;
}
.ad .introduce .link:hover{
    color: #fff;
    background: #69c72b;
}
.ad .introduce a {
    color: #69c72b;
}
.ad .introduce a:hover {
    color: #489912;
}
.ut .header{
    background:#3dc0f0;
}
.ut .introduce .dot {
    background: #3dc0f0;
}
.ut .introduce .link {
    color: #3dc0f0;
    border: 1px solid #3dc0f0;
}
.ut .introduce .link:hover{
    color: #fff;
    background: #3dc0f0;
}
.ut .introduce a {
    color: #3dc0f0;
}
.ut .introduce a:hover {
    color: #0c7da7;
}
.vt .header{
    background:#8EC63F;
}
.vt .introduce .dot {
    background: #8EC63F;
}
.vt .introduce .link {
    color: #8EC63F;
    border: 1px solid #8EC63F;
}
.vt .introduce .link:hover{
    color: #fff;
    background: #8EC63F;
}
.vt .introduce a {
    color: #8EC63F;
}
.vt .introduce a:hover {
    color: rgb(102, 148, 37);
}
@media (max-width: 768px) {
    .header .title{
        font-size: 18px;
        margin-top: 10px;
    }
    .header .desc {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .header .img {
        width: 100%;
        height: auto;
    }
    .header .ad-box {
        margin-top: 15px;
    }
    .introduce{
        padding: 30px 0;
    }
    .introduce img {
        display: block;
        margin: 0 auto;
    }
    .introduce .title {
        margin-top: 30px;
        text-align: center;
    }
    .introduce .title::before {
        display: none;
    }
    /* .introduce ul li:first-child {
        text-align: center;
    } */
    .introduce .link {
        margin: 20px auto 0 auto;
        display: block;
    }
    .introduce .old-link {
        margin: 10px 0 0 0;
    }
}

#app {
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
}
#IRS-header,
#IRS-foot{
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
}
.custom-dialog {
    margin-top: 100px;
}
.custom-dialog .modal-content {
    border-radius: 4px;
    overflow: hidden;
    border: none;
}
.custom-dialog .modal-header {
    padding: 7px 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.custom-dialog.ut .modal-header {
    background: #3dc0f0;
}
.custom-dialog.ad .modal-header {
    background: #69c72b;
}
.custom-dialog.vt .modal-header{
    background: #8EC63F;
}
.custom-dialog .modal-header .close {
    color: #fff;
    opacity: 1;
    font-weight: normal;
    line-height: 1.2;
}
.custom-dialog .modal-body {
    text-align: center;
}