html {
    /* height: 100%; */
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: PingFang SC, Microsoft YaHei, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.alert_back {
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 999;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.alert_ts {
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    margin: 0 auto;
    z-index: 9999;
    padding: 0 28px;
    display: block;
    box-sizing: border-box;
    border-top: 3px solid #69C72B;
    text-align: center;
}

.alert_ts_img {
    width: 44px;
    height: 44px;
    display: block;
    margin: 18px auto 0 auto;
}

.alert_ts_txt {
    font-size: 12px;
    line-height: 20px;
    margin-top: 15px;
    color: #828282;
    text-align: center;
    display: inline-block;
}

.alert_ts_button {
    width: 85px;
    height: 30px;
    line-height: 28px;
    margin: 15px auto 19px auto;
    box-sizing: border-box;
    border: 1px solid #8ED560;
    background-color: #F4FFED;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    color: #69C72B;
    cursor: pointer
}

.alert {
    height: 50px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    line-height: 50px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    margin: 55px auto 0 auto;
    z-index: 9999;
    padding: 0 76px 0 0;
    display: block;
}

.alert_img {
    width: 26px;
    height: 26px;
    float: left;
    margin-left: 30px;
    margin-top: 12px;
    display: block;
}

.alert_txt {
    height: 50px;
    float: left;
    margin-left: 20px;
    font-size: 16px;
    color: #515354;
}

.main-background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.main-image {
    height: 100%;
    z-index: 300;
    background: url("//irv.iresearch.com.cn/iResearchDataWeb/public/img/bj_login/bg2x.jpg") no-repeat center;
    /*background: url(../img/bg2x.jpg) no-repeat center;*/
    position: relative;
    background-size: 100% 100%;
    width: 100%;
}

body button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-control::-moz-placeholder {
    color: #C4C4C4;
    font-size: 14px;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #C4C4C4;
    font-size: 14px;
}

.form-control::-webkit-input-placeholder {
    color: #C4C4C4;
    font-size: 14px;
}

.row_img {
    width: 135px;
    height: 62px;
}

.main {
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 400;
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    height: 100%;
    /* min-width:1200px; */
}

.jumbotron {
    background: none;
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
    -ms-flex-direction: column;
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    justify-content: center;
    -ms-justify-content: center;
    align-items: flex-start;
    -ms-align-items: flex-start;
}

.four #row1 img {
    width: 120px;
    height: auto;
}

.four #row2 {
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;
}

#row2 {
    width: 900px;
    height: 512px;
    margin: 30px 0 0 0;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.bgBack_opa {
    width: 95.5%;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.3;
    border-radius: 0 0 10px 10px;
    z-index: 500;
    margin: 0 auto;
    float: left;
    margin-left: 2.25%;
}

.bgBack_opa2 {
    width: 90.4%;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.3;
    border-radius: 0 0 10px 10px;
    z-index: 600;
    margin: 0 auto;
    position: relative;
    top: -20px;
    float: left;
    margin-left: 4.8%;
}

.main_left {
    height: 512px;
    padding: 10px 0 26px 0;
    width: 60%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #FAFAFA;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
}

.main_left_line_box {
    width: 80%;
    margin: 0 auto;
    margin-right: 60px;
}

.main_left_line {
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin: 15px auto 0 auto;
}

.main_left_line_title {
    width: 20%;
    text-align: center;
    float: left;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #515354;
    font-size: 14px;
    padding-right: 15px;
    text-align: right;
}

.main_left_line_title_re {
    font-size: 16px;
    color: #FF4949;
    margin-right: 3px;
}

.main_left_line_input {
    width: 80%;
    height: 36px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px 0px rgba(241, 241, 241, 0.5);
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    color: #666666;
    font-size: 12px;
    line-height: 36px;
    box-sizing: border-box;
    outline: none;
    padding: 0 10px;
}

.main_left_line_input::-webkit-input-placeholder {
    font-size: 12px;
    color: #D3D3D3;
}

.main_left_line_input_yzm {
    width: 80%;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 3px 0px rgba(241, 241, 241, 0.5);
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    color: #666666;
    font-size: 12px;
    line-height: 40px;
    box-sizing: border-box;
    float: left;
}

.yzmInput {
    border: 0;
    outline: none;
    width: 60%;
    float: left;
    height: 38px;
    line-height: 38px;
}

.yzmInput_img {
    float: right;
    width: 89px;
    height: 38px;
}

.main_left_button {
    width: 100px;
    height: 40px;
    background: rgba(105, 199, 43, 1);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 1px solid rgba(105, 199, 43, 1);
    margin-top: 20px;
    float: right;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    line-height: 40px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}

.main_left_line_select {
    background: none;
}

.main_left_line_select_icon {
    display: none;
}

.main_right {
    width: 40%;
    height: 512px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    float: right;
    padding: 31px 20px 0 20px;
    box-sizing: border-box;
}

.main_right_img {
    width: 154px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.main_right_txt {
    width: 100%;
    height: 155px;
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
    line-height: 22px;
    letter-spacing: 1px;
    margin: 21px auto 0 auto;
    /*display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    word-break: break-all;*/
}

.main_right_shebei {
    width: 100%;
    height: 30px;
    line-height: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: flex;
    margin-top: 30px;
}

.main_right_shebei_tab {
    width: 50%;
    height: 30px;
}

.main_right_shebei_tab_img {
    width: auto;
    height: 23px;
    margin: 3.5px 0 0 20%;
    float: left;
    display: block;
}

.main_right_shebei_tab_txt {
    height: 30px;
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
    line-height: 30px;
    float: left;
    margin-left: 10%;
}

.main_right_ewm {
    margin-top: 25px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: flex;
}

.main_right_ewm_left {
    width: 120px;
    height: 125px;
    text-align: center;
    line-height: 19px;
}

.main_right_ewm_left_img {
    width: 90px;
    height: 90px;
    margin-top: 5px;
}

.main_right_ewm_txt {
    width: 120px;
    height: 12px;
    line-height: 12px;
    font-size: 10px;
    color: #515354;
    text-align: center;
    padding-top: 10px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}

.selectMM {
    display: none;
    float: left;
    width: 73%;
    height: 55px;
}

@media (max-width: 450px) {
    .selectMM {
        display: block;
        text-align: right;
        outline: none;
    }
    .selectPc {
        display: none;
    }
    .alert_ts {
        width: 65%;
    }
    .alert {
        display: none;
    }
    .alert {
        padding-right: 30px;
        margin-top: 30px;
        left: 10%;
        width: 80%;
        -webkit-transform: none;
        text-align: center;
    }
    .alert_txt {
        font-size: 12px;
        margin-left: 10px;
        display: inline-block;
        float: none;
    }
    .alert_img {
        margin-left: 15px;
    }
    #row1 {
        display: none;
    }
    #row2 {
        margin-top: 0;
        box-shadow: none;
        width: auto;
    }
    .selectPc {
        display: none;
    }
    .selectMobile {
        display: block;
    }
    .main-image {
        background: none;
    }
    .main_right {
        display: none;
    }
    .jumbotron {
        background: none;
        margin: 0 auto;
        width: 100%;
        display: block;
    }
    .main_left {
        width: 100%;
        padding: 0;
        border-radius: 0;
        border: 0;
        background: none;
    }
    .main_left_line_box {
        width: 100%;
        border-top: 1px solid #F2F2F2;
    }
    .main_left_line {
        height: 55px;
        background: rgba(255, 255, 255, 1);
        line-height: 55px;
        margin: 0;
        box-sizing: border-box;
    ;
        border-bottom: 1px solid #F2F2F2;
    }
    .main_left_line_title {
        width: 20%;
        color: #515354;
        font-size: 15px;
        height: 55px;
        line-height: 55px;
    }
    .main_left_line_title_re {
        font-size: 14px;
        position: relative;
        top: -3px;
    }
    .main_left_line_input {
        width: 80%;
        height: 24px;
        line-height: 24px;
        border: 0;
        border-radius: 0;
        padding: 0 15px;
        color: #515354;
        font-size: 15px;
        text-align: right;
        box-shadow: none;
    }
    .main_left_line_input::-webkit-input-placeholder {
        font-size: 15px;
    }
    .main_left_line_select {
        direction: rtl;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 73%;
        padding-right: 0;
    }
    main_left_line_select option {
        direction: ltr;
    }
    .main_left_line_select_icon {
        display: block;
        width: 6px;
        height: 10px;
        margin-top: 22.5px;
        margin-right: 15px;
        float: right;
    }
    .main_left_line_input_yzm {
        width: 80%;
        height: 53px;
        border: 0;
        box-shadow: none;
    }
    .yzmInput {
        width: 55%;
        text-align: left;
        margin-top: 16px;
    }
    .yzmInput_img {
        width: 98.5px;
        height: 35px;
        margin-top: 10px;
        margin-right: 5%;
    }
    .main_left_button {
        width: 78.4%;
        height: 35px;
        line-height: 35px;
        background: rgba(105, 199, 43, 1);
        border-radius: 35px;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 2px;
        float: none;
        position: fixed;
        bottom: 30px;
        left: 11%;
    }
    .main_left_line_input:focus,
    .select2-selection:hover {
        border: none !important;
    }
    .select2 {
        display: none !important
    }
}

@media (min-width: 450px) and (max-width:1099px) {
    .selectMM {
        display: block;
        text-align: right
    }
    .selectPc {
        display: none;
    }
    .alert {
        display: none;
    }
    #row1 {
        display: none;
    }
    #row2 {
        width: 100%;
        margin-top: 0;
        box-shadow: none;
    }
    .selectPc {
        display: none;
    }
    .selectMobile {
        display: block;
    }
    .main-image {
        background: none;
    }
    .main_right {
        display: none;
    }
    .jumbotron {
        background: none;
        margin: 0 auto;
        width: 100%;
        display: block;
    }
    .main_left {
        width: 100%;
        padding: 0;
        border-radius: 0;
        border: 0;
        background: none;
    }
    .main_left_line_box {
        width: 100%;
        border-top: 1px solid #F2F2F2;
    }
    .main_left_line {
        height: 55px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 1px 0px 0px rgba(242, 242, 242, 1);
        line-height: 55px;
        margin: 0;
        box-sizing: border-box;
    ;
        border-bottom: 1px solid #F2F2F2;
    }
    .main_left_line_title {
        width: 20%;
        color: #515354;
        font-size: 15px;
        height: 55px;
        line-height: 55px;
    }
    .main_left_line_title_re {
        font-size: 14px;
        position: relative;
        top: -3px;
    }
    .main_left_line_input {
        width: 80%;
        height: 51px;
        line-height: 51px;
        border: 0;
        border-radius: 0;
        padding: 0 15px;
        color: #515354;
        font-size: 15px;
        text-align: right;
    }
    .main_left_line_input::-webkit-input-placeholder {
        font-size: 15px;
    }
    .main_left_line_select {
        direction: rtl;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 73%;
        padding-right: 0;
    }
    main_left_line_select option {
        direction: ltr;
    }
    .main_left_line_select_icon {
        display: block;
        width: 6px;
        height: 10px;
        margin-top: 22.5px;
        margin-right: 15px;
        float: right;
    }
    .main_left_line_input_yzm {
        width: 80%;
        height: 55px;
        border: 0;
    }
    .yzmInput {
        width: 60%;
        text-align: left;
    }
    .yzmInput_img {
        width: 98.5px;
        height: 35px;
        margin-top: 10px;
        margin-right: 5%;
    }
    .main_left_button {
        width: 78.4%;
        height: 35px;
        line-height: 35px;
        background: rgba(105, 199, 43, 1);
        border-radius: 35px;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        letter-spacing: 2px;
        margin: 134px auto 0 auto;
        float: none;
    }
    .main_left_line_input:focus,
    .select2-selection:hover {
        border: none !important;
    }
    .select2 {
        display: none !important;
    }
}

.ensure {
    color: #74CF34 !important
}

.select2-results__option {
    display: block;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #EEEEEE !important;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(241, 241, 241, 0.5) !important;
}

.select2-container .select2-selection--single {
    height: 36px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px !important;
}

.main_left_line_input:focus {
    border: 1px solid #69C72B;
    outline: none;
}

.yzmInput:focus {
    border: 1px solid #ffffff !important;
}

.select2-container:focus {
    outline: none;
    border: 1px solid #ffffff;
}

.select2-container--default .select2-selection--single:focus {
    outline: none;
    border: 1px solid #69C72B !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered:focus {
    outline: none;
    border: 1px solid #ffffff;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 150px !important;
}

.selectMM {
    cursor: none !important
}